<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.3">
    <id>patientpassport</id>
    <name>Patient Passport</name>
    <version>1.0.0</version>
    <package>org.openmrs.module.patientpassport</package>
    <author>Patient Passport Team</author>
    <description>UI for Patient Passport Integration</description>
    <activator>org.openmrs.module.patientpassport.PatientPassportActivator</activator>

    <pages>
        <page path="patientPassport" controller="org.openmrs.module.patientpassport.web.controller.PatientPassportController"/>
        <page path="main" controller="org.openmrs.module.patientpassport.web.controller.PatientPassportController"/>
        <page path="admin" controller="org.openmrs.module.patientpassport.web.controller.PatientPassportController"/>
    </pages>

    <privilege>
        <name>View Patient Passport</name>
        <description>Allows viewing the Patient Passport interface</description>
    </privilege>
    
    <privilege>
        <name>Access Patient Passport</name>
        <description>Allows access to Patient Passport functionality</description>
    </privilege>

    <globalProperty>
        <property>patientpassport.frontend.url</property>
        <defaultValue>https://jade-pothos-e432d0.netlify.app</defaultValue>
        <description>URL of the deployed Patient Passport frontend application</description>
    </globalProperty>
    
    <globalProperty>
        <property>patientpassport.backend.url</property>
        <defaultValue>https://capstone-patientpassport.onrender.com/api</defaultValue>
        <description>URL of the Patient Passport backend API</description>
    </globalProperty>
    
    <globalProperty>
        <property>patientpassport.enable_patient_context</property>
        <defaultValue>true</defaultValue>
        <description>Enable passing patient context to the Patient Passport application</description>
    </globalProperty>
    
    <globalProperty>
        <property>patientpassport.iframe_height</property>
        <defaultValue>90vh</defaultValue>
        <description>Height of the iframe containing the Patient Passport application</description>
    </globalProperty>
</module>